body, html {
    height: 100%;
}

body {

    background:url("../images/market/market_background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.panels{
    background:url("../images/general/panel_background.jpg");
    height: 75%;
    overflow: auto;
}

td, th{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
}

ul>li>a{
    background:url("../images/general/button_background.jpg");
    color:white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus{
    color: #d18a4d;
}

footer{
    text-align: center !important;
}