body, html {
    height: 100%;
}

body {
    background:url("../images/shipyard/shipyardMain.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.tableClass {
    background-image:url("../images/general/panel_background.jpg");
    color: white;
    font-size: 17px;
    font-family: tempus sans itc;
    font-weight: 900;
    text-align: left;
    border: 6px double black;
    width: 600px;
}

img{
width: 100%;
}

.cap {
background-image: none;
background-color: transparent;
}

#shipimg {
 width: 300px;
}

.shipContainer {
    position: absolute;
    right: 5%;
    top: 17%;
    overflow: auto;
    max-height: 700px;
}