body, html {
    height: 100%;
}

body {

    background:url("../images/tavern/tavern.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

td.listOfShips{
    border: 1px solid black;
}
img{
    width:175px;
}

.panelTavern {
    background-image:url("../images/general/panel_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 4px ridge black;
    padding: 1%;
}

.shipContainer {
    margin-top: 30px;
    width:550px;
    position: relative;
    overflow: auto;
}

.tableClass1 {
    background-image:url("../images/general/panel_background.jpg");
    color: white;
    font-size: 17px;
    font-family: tempus sans itc;
    font-weight: 900;
    text-align: left;
    border: 6px double black;
    width: 183.33px;
}

.tableClass2 {
    background-image:url("../images/general/panel_background.jpg");
    color: white;
    font-size: 17px;
    font-family: tempus sans itc;
    font-weight: 900;
    text-align: left;
    border: 6px double black;
    width: 275px;
}

.tableClass3 {
    background-image:url("../images/general/panel_background.jpg");
    color: white;
    font-size: 17px;
    font-family: tempus sans itc;
    font-weight: 900;
    text-align: left;
    border: 6px double black;
    width: 550px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}