body, html {
    height: 100%;
}

body {

    background:url("../images/tavern/tavern.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

th{
    border: 1px solid #ffffff;
}
img{
    width:175px;
}

.shipContainer {
    margin-top: 30px;
    width:550px;
    position: relative;
    overflow: auto;
}

.tableClass1 {
    background-image:url("../images/general/panel_background.jpg");
    color: white;
    font-size: 17px;
    font-family: tempus sans itc;
    font-weight: 900;
    text-align: left;
    border: 6px double #ffffff;
    width: 183.33px;
}

.tableClass2 {
    background-image:url("../images/general/panel_background.jpg");
    color: white;
    font-size: 17px;
    font-family: tempus sans itc;
    font-weight: 900;
    text-align: left;
    border: 6px double #ffffff;
    width: 275px;
}

.tableClass3 {
    background-image:url("../images/general/panel_background.jpg");
    color: white;
    font-size: 17px;
    font-family: tempus sans itc;
    font-weight: 900;
    text-align: left;
    border: 6px double #ffffff;
    width: 550px;
}
