#ship {
    animation-name: city;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 60s;
    position: relative;
    /*position: left;*/
    
}
.layer, .timer {
	position: absolute;
}
.timer {
	color: rgba(0,0,0,0.8);
	text-shadow: 2px 8px 6px rgba(0,0,0,0.8),
                 0px -5px 35px rgba(255,255,255,0.3);
	font: bold;
	font-size: 32pt;
	font-family: cursive;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 700;
	line-height: 5px;
	left: 0%;
	bottom: 0%;
}
@keyframes city {
    from { left: -700px; }
    to { left: 1100px; }
}
body{
	background-image: url("../images/travel/fog_sea.jpg");
    height: 100%;
    background-position: 50% 70%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
	/*background: linear-gradient(to top, #5080b1, #004e8c) fixed;*/
    /*display: block;*/
   /* margin: auto;*/
    overflow: hidden;
}
main {
    width: 50%;
    min-height: 411px;
    display: block;
    margin: auto;
    background: rgba(255,255,255,0.6);
    padding: 20px;
}